body {
  background: linear-gradient(to right,rgb(117, 117, 252),rgb(151, 2, 151));
}

.container {
  background-color: white;
  display: flex;
  align-items: center;
}

button {
  background: linear-gradient(to right,rgb(117, 185, 248),rgb(151, 2, 151));
  color: white;
}

label {
  font-weight: 500;
  text-align: left;
}

h1 {
  text-align: left;
}
